# SQL 1 Assignment

In [3]:
#Read the csv file at the specified location into a DataFrame. Header=None specifies that first row is not header
import pandas as pd
pdTab=pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data',header=None,skipinitialspace=True)

In [4]:
pdTab

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [5]:
#Assign the new column names 
columnList= ['Age','workclass',
'fnlwgt', 'education',
'education-num','marital-status',
'occupation','relationship',
'race','sex','capital-gain',
'capital-loss','hours-per-week','native-country','label']
pdTab.columns = columnList

In [20]:
pdTab

,Age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
5,37,Private,284582,Masters,14,Married-civ-spouse,Exec-managerial,Wife,White,Female,0,0,40,United-States,<=50K
6,49,Private,160187,9th,5,Married-spouse-absent,Other-service,Not-in-family,Black,Female,0,0,16,Jamaica,<=50K
7,52,Self-emp-not-inc,209642,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,45,United-States,>50K
8,31,Private,45781,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,14084,0,50,United-States,>50K
9,42,Private,159449,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,5178,0,40,United-States,>50K
10,37,Private,280464,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,Black,Male,0,0,80,United-States,>50K
11,30,State-gov,141297,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,0,0,40,India,>50K
12,23,Private,122272,Bachelors,13,Never-married,Adm-clerical,Own-child,White,Female,0,0,30,United-States,<=50K
13,32,Private,205019,Assoc-acdm,12,Never-married,Sales,Not-in-family,Black,Male,0,0,50,United-States,<=50K
14,40,Private,121772,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,0,0,40,?,>50K
15,34,Private,245487,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,0,0,45,Mexico,<=50K
16,25,Self-emp-not-inc,176756,HS-grad,9,Never-married,Farming-fishing,Own-child,White,Male,0,0,35,United-States,<=50K
17,32,Private,186824,HS-grad,9,Never-married,Machine-op-inspct,Unmarried,White,Male,0,0,40,United-States,<=50K
18,38,Private,28887,11th,7,Married-civ-spouse,Sales,Husband,White,Male,0,0,50,United-States,<=50K
19,43,Self-emp-not-inc,292175,Masters,14,Divorced,Exec-managerial,Unmarried,White,Female,0,0,45,United-States,>50K
20,40,Private,193524,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
21,54,Private,302146,HS-grad,9,Separated,Other-service,Unmarried,Black,Female,0,0,20,United-States,<=50K
22,35,Federal-gov,76845,9th,5,Married-civ-spouse,Farming-fishing,Husband,Black,Male,0,0,40,United-States,<=50K
23,43,Private,117037,11th,7,Married-civ-spouse,Transport-moving,Husband,White,Male,0,2042,40,United-States,<=50K
24,59,Private,109015,HS-grad,9,Divorced,Tech-support,Unmarried,White,Female,0,0,40,United-States,<=50K
25,56,Local-gov,216851,Bachelors,13,Married-civ-spouse,Tech-support,Husband,White,Male,0,0,40,United-States,>50K
26,19,Private,168294,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,0,0,40,United-States,<=50K
27,54,?,180211,Some-college,10,Married-civ-spouse,?,Husband,Asian-Pac-Islander,Male,0,0,60,South,>50K
28,39,Private,367260,HS-grad,9,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,80,United-States,<=50K
29,49,Private,193366,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32531,30,?,33811,Bachelors,13,Never-married,?,Not-in-family,Asian-Pac-Islander,Female,0,0,99,United-States,<=50K
32532,34,Private,204461,Doctorate,16,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,60,United-States,>50K
32533,54,Private,337992,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,0,0,50,Japan,>50K
32534,37,Private,179137,Some-college,10,Divorced,Adm-clerical,Unmarried,White,Female,0,0,39,United-States,<=50K
32535,22,Private,325033,12th,8,Never-married,Protective-serv,Own-child,Black,Male,0,0,35,United-States,<=50K
32536,34,Private,160216,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,55,United-States,>50K
32537,30,Private,345898,HS-grad,9,Never-married,Craft-repair,Not-in-family,Black,Male,0,0,46,United-States,<=50K
32538,38,Private,139180,Bachelors,13,Divorced,Prof-specialty,Unmarried,Black,Female,15020,0,45,United-States,>50K
32539,71,?,287372,Doctorate,16,Married-civ-spouse,?,Husband,White,Male,0,0,10,United-States,>50K
32540,45,State-gov,252208,HS-grad,9,Separated,Adm-clerical,Own-child,White,Female,0,0,40,United-States,<=50K
32541,41,?,202822,HS-grad,9,Separated,?,Not-in-family,Black,Female,0,0,32,United-States,<=50K
32542,72,?,129912,HS-grad,9,Married-civ-spouse,?,Husband,White,Male,0,0,25,United-States,<=50K
32543,45,Local-gov,119199,Assoc-acdm,12,Divorced,Prof-specialty,Unmarried,White,Female,0,0,48,United-States,<=50K
32544,31,Private,199655,Masters,14,Divorced,Other-service,Not-in-family,Other,Female,0,0,30,United-States,<=50K
32545,39,Local-gov,111499,Assoc-acdm,12,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,20,United-States,>50K
32546,37,Private,198216,Assoc-acdm,12,Divorced,Tech-support,Not-in-family,White,Female,0,0,40,United-States,<=50K
32547,43,Private,260761,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,Mexico,<=50K
32548,65,Self-emp-not-inc,99359,Prof-school,15,Never-married,Prof-specialty,Not-in-family,White,Male,1086,0,60,United-States,<=50K
32549,43,State-gov,255835,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States,<=50K
32550,43,Self-emp-not-inc,27242,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,50,United-States,<=50K
32551,32,Private,34066,10th,6,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
32552,43,Private,84661,Assoc-voc,11,Married-civ-spouse,Sales,Husband,White,Male,0,0,45,United-States,<=50K
32553,32,Private,116138,Masters,14,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,0,0,11,Taiwan,<=50K
32554,53,Private,321865,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,>50K
32555,22,Private,310152,Some-college,10,Never-married,Protective-serv,Not-in-family,White,Male,0,0,40,United-States,<=50K
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [ ]:
#Create a table using sqlite3 using the DataFrame created above
import sqlite3
conn=sqlite3.connect("sqladb")
pdTab.to_sql('sqladb',conn)

# 1. Select 10 records from the adult sqladb

In [7]:
#1.load the first 10 records
cur=conn.cursor()
sql="Select * from sqladb"
cur.execute(sql)
cur.fetchmany(10)

[(0,
  39,
  'State-gov',
  77516,
  'Bachelors',
  13,
  'Never-married',
  'Adm-clerical',
  'Not-in-family',
  'White',
  'Male',
  2174,
  0,
  40,
  'United-States',
  '<=50K'),
 (1,
  50,
  'Self-emp-not-inc',
  83311,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  0,
  0,
  13,
  'United-States',
  '<=50K'),
 (2,
  38,
  'Private',
  215646,
  'HS-grad',
  9,
  'Divorced',
  'Handlers-cleaners',
  'Not-in-family',
  'White',
  'Male',
  0,
  0,
  40,
  'United-States',
  '<=50K'),
 (3,
  53,
  'Private',
  234721,
  '11th',
  7,
  'Married-civ-spouse',
  'Handlers-cleaners',
  'Husband',
  'Black',
  'Male',
  0,
  0,
  40,
  'United-States',
  '<=50K'),
 (4,
  28,
  'Private',
  338409,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Prof-specialty',
  'Wife',
  'Black',
  'Female',
  0,
  0,
  40,
  'Cuba',
  '<=50K'),
 (5,
  37,
  'Private',
  284582,
  'Masters',
  14,
  'Married-civ-spouse',
  'Exec-managerial',
  'Wife',
  'White',
  'Female',
  0,
  0,
  40,
  'United-States',
  '<=50K'),
 (6,
  49,
  'Private',
  160187,
  '9th',
  5,
  'Married-spouse-absent',
  'Other-service',
  'Not-in-family',
  'Black',
  'Female',
  0,
  0,
  16,
  'Jamaica',
  '<=50K'),
 (7,
  52,
  'Self-emp-not-inc',
  209642,
  'HS-grad',
  9,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  0,
  0,
  45,
  'United-States',
  '>50K'),
 (8,
  31,
  'Private',
  45781,
  'Masters',
  14,
  'Never-married',
  'Prof-specialty',
  'Not-in-family',
  'White',
  'Female',
  14084,
  0,
  50,
  'United-States',
  '>50K'),
 (9,
  42,
  'Private',
  159449,
  'Bachelors',
  13,
  'Married-civ-spouse',
  'Exec-managerial',
  'Husband',
  'White',
  'Male',
  5178,
  0,
  40,
  'United-States',
  '>50K')]

# 2. Show me the average hours per week of all men who are working in private sector

In [8]:
#2. define the sql to fetch average hours per week for sex=Male and workclass=Private from DataFrame and execute to show results
sql='select avg([hours-per-week]) from sqladb where sex="Male" and workclass="Private" group by sex,workclass'
cur.execute(sql)
cur.fetchall()

[(42.22122591006424,)]

# 3. Show me the frequency table for education, occupation and relationship, separately

In [72]:
#3.a Frequency Table for Education
freqEduc = pd.crosstab(index=pdTab['education'],columns='hours-per-week')
freqEduc

col_0         hours-per-week
education
10th                     933
11th                    1175
12th                     433
1st-4th                  168
5th-6th                  333
7th-8th                  646
9th                      514
Assoc-acdm              1067
Assoc-voc               1382
Bachelors               5355
Doctorate                413
HS-grad                10501
Masters                 1723
Preschool                 51
Prof-school              576
Some-college            7291

In [74]:
#3.b Frequency Table for Occupation
freqOcc = pd.crosstab(index=pdTab['occupation'],columns='hours-per-week')
freqOcc

col_0              hours-per-week
occupation
?                            1843
Adm-clerical                 3770
Armed-Forces                    9
Craft-repair                 4099
Exec-managerial              4066
Farming-fishing               994
Handlers-cleaners            1370
Machine-op-inspct            2002
Other-service                3295
Priv-house-serv               149
Prof-specialty               4140
Protective-serv               649
Sales                        3650
Tech-support                  928
Transport-moving             1597

In [75]:
#3.c Frequency Table for Relationship
freqRelat = pd.crosstab(index=pdTab['relationship'],columns='hours-per-week')
freqRelat

col_0           hours-per-week
relationship
Husband                  13193
Not-in-family             8305
Other-relative             981
Own-child                 5068
Unmarried                 3446
Wife                      1568

# 4. Are there any people who are married, working in private sector and having a masters degree

In [88]:
#4. Select count of Age to show the count of people holding Masters degree
sql="select count(Age),workclass,education,[marital-status] from sqladb where workclass='Private'and education='Masters' and [marital-status] like 'Married%' group by education,workclass,[marital-status]"
cur.execute(sql)
cur.fetchall()

[(531, 'Private', 'Masters', 'Married-civ-spouse'),
 (9, 'Private', 'Masters', 'Married-spouse-absent')]

# 5.What is the average, minimum and maximum age group for people working in different sectors

In [10]:
#5. Average, Minimum and MAximum age for people working in different sectors.
sql='select avg(Age),max(Age),min(Age),workclass from sqladb group by workclass'
cur.execute(sql)
df=pd.DataFrame(cur.fetchall())
df

           0   1   2                 3
0  40.960240  90  17                 ?
1  42.590625  90  17       Federal-gov
2  41.751075  90  17         Local-gov
3  20.571429  30  17      Never-worked
4  36.797585  90  17           Private
5  46.017025  84  17      Self-emp-inc
6  44.969697  90  17  Self-emp-not-inc
7  39.436055  81  17         State-gov
8  47.785714  72  19       Without-pay

# 6. Calculate age distribution by country

In [63]:
#6. Displaying age distribution by country
pd.crosstab(index=pdTab['native-country'],columns=pdTab['Age'])

Age,17,18,19,20,21,22,23,24,25,26,...,80,81,82,83,84,85,86,87,88,90
native-country,,,,,,,,,,,,,,,,,,,,,
?,2,8,5,10,11,12,6,14,11,18,...,0,2,0,0,0,0,0,0,0,1
Cambodia,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
Canada,2,1,1,2,0,1,3,3,5,2,...,1,0,0,0,0,0,0,0,0,0
China,0,0,0,0,0,1,2,2,1,0,...,0,0,0,0,0,0,0,0,0,0
Columbia,0,1,0,0,3,0,2,0,4,3,...,0,0,0,0,0,0,0,0,0,0
Cuba,0,0,0,0,2,0,3,0,1,0,...,0,0,1,0,0,0,0,0,0,0
Dominican-Republic,0,1,0,0,3,3,4,3,2,3,...,0,0,0,0,0,0,0,0,0,0
Ecuador,0,0,0,0,1,0,1,2,1,0,...,0,0,0,0,0,0,0,0,0,1
El-Salvador,2,0,4,5,2,2,6,7,8,3,...,0,0,0,0,0,0,0,0,0,0
England,1,0,2,1,1,1,2,3,1,1,...,0,0,0,0,0,0,0,0,0,1
France,0,0,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Germany,0,1,0,5,3,4,1,2,0,3,...,0,0,0,0,0,0,0,0,0,0
Greece,0,0,0,0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Guatemala,0,0,3,3,2,3,4,1,6,2,...,0,0,0,0,0,0,0,0,0,0
Haiti,1,0,1,1,0,2,2,2,0,0,...,0,0,0,0,0,0,0,0,0,0
Holand-Netherlands,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Honduras,0,1,1,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
Hong,0,0,1,0,0,0,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
Hungary,0,0,0,0,0,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
India,1,1,0,1,1,2,1,2,3,3,...,0,0,0,0,0,0,0,0,0,0
Iran,0,0,0,0,0,2,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Ireland,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Italy,0,0,1,1,1,1,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0
Jamaica,0,1,1,0,3,3,2,4,4,3,...,0,0,0,0,0,0,0,0,0,0
Japan,0,0,2,0,0,0,0,1,1,2,...,0,0,0,0,0,0,0,0,0,0
Laos,0,0,2,0,0,0,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
Mexico,6,6,14,18,24,24,32,25,39,22,...,0,1,0,0,0,0,0,0,0,0
Nicaragua,0,0,2,4,1,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
Outlying-US(Guam-USVI-etc),0,0,0,0,1,0,1,0,1,1,...,0,0,0,0,0,0,0,0,0,0
Peru,2,1,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,0,0,0,0
Philippines,1,2,2,2,1,4,6,5,3,6,...,0,0,0,0,0,0,0,0,0,1
Poland,1,0,0,0,1,0,2,0,3,2,...,0,1,0,0,0,1,0,0,0,0
Portugal,0,0,1,0,1,1,1,1,0,1,...,0,0,0,0,0,0,0,0,0,0
Puerto-Rico,1,0,3,2,1,1,5,1,1,3,...,0,0,0,0,0,0,0,0,0,1
Scotland,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
South,0,0,3,2,1,5,3,3,0,3,...,0,0,0,0,0,0,0,0,0,1
Taiwan,0,0,0,1,1,2,1,2,3,2,...,0,0,0,0,0,0,0,0,0,0
Thailand,0,0,2,0,0,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
Trinadad&Tobago,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
United-States,374,524,659,689,651,683,771,705,734,694,...,21,15,11,6,10,2,1,1,3,37
Vietnam,0,0,2,3,3,3,10,2,3,1,...,0,0,0,0,0,0,0,0,0,0
Yugoslavia,0,0,0,1,0,1,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0

# 7. Compute a new column as 'Net-Capital-Gain' from the two columns 'capital-gain' and 'capital-loss'

In [42]:
#7. Create a new column using the existing two columns.
sql='select Age,[capital-gain],[capital-loss],([capital-gain]-[capital-loss]) as "Net-Capital-Gain"  from sqladb'
cur.execute(sql)
dfNCG=pd.DataFrame(cur.fetchall(),columns=['Age','Capital Gain','Capital Loss','Net Capital Gain'])
dfNCG

       Age  Capital Gain  Capital Loss  Net Capital Gain
0       39          2174             0              2174
1       50             0             0                 0
2       38             0             0                 0
3       53             0             0                 0
4       28             0             0                 0
5       37             0             0                 0
6       49             0             0                 0
7       52             0             0                 0
8       31         14084             0             14084
9       42          5178             0              5178
10      37             0             0                 0
11      30             0             0                 0
12      23             0             0                 0
13      32             0             0                 0
14      40             0             0                 0
15      34             0             0                 0
16      25             0             0                 0
17      32             0             0                 0
18      38             0             0                 0
19      43             0             0                 0
20      40             0             0                 0
21      54             0             0                 0
22      35             0             0                 0
23      43             0          2042             -2042
24      59             0             0                 0
25      56             0             0                 0
26      19             0             0                 0
27      54             0             0                 0
28      39             0             0                 0
29      49             0             0                 0
...    ...           ...           ...               ...
32531   30             0             0                 0
32532   34             0             0                 0
32533   54             0             0                 0
32534   37             0             0                 0
32535   22             0             0                 0
32536   34             0             0                 0
32537   30             0             0                 0
32538   38         15020             0             15020
32539   71             0             0                 0
32540   45             0             0                 0
32541   41             0             0                 0
32542   72             0             0                 0
32543   45             0             0                 0
32544   31             0             0                 0
32545   39             0             0                 0
32546   37             0             0                 0
32547   43             0             0                 0
32548   65          1086             0              1086
32549   43             0             0                 0
32550   43             0             0                 0
32551   32             0             0                 0
32552   43             0             0                 0
32553   32             0             0                 0
32554   53             0             0                 0
32555   22             0             0                 0
32556   27             0             0                 0
32557   40             0             0                 0
32558   58             0             0                 0
32559   22             0             0                 0
32560   52         15024             0             15024

[32561 rows x 4 columns]